<app-listado-generico [listado]="peliculas">
    <!-- <ng-container vacio>
        <div>Mensaje personalizado para contenido <b>Vacio</b></div>
    </ng-container> -->
    <ng-container contenido>
        <div class="peliculas-contenedor">
            <div *ngFor="let pelicula of peliculas; let index = index" class="movieContainer">
                <a [routerLink]="'/pelicula/' + pelicula.id">
                    <img [src]="pelicula.poster" alt="Poster" />
                </a>
                <p>
                    <a [routerLink]="'/pelicula/' + pelicula.id">{{pelicula.titulo}}</a>
                </p>

                <app-autorizado [rol]="'admin'">
                    <ng-container autorizado>
                <div>
                    <a mat-flat-button color="primary" [routerLink]="'/peliculas/editar/' + pelicula.id">
                        Editar
                    </a>
                    <button mat-flat-button color="warn" type="button" [swal]="{title: 'Confirmación', 
                                    text: '¿Esta seguro que desea borrar el registro?', 
                                    showCancelButton: true}" (confirm)="borrar(pelicula.id)">
                        Borrar
                    </button>
                </div>
                    </ng-container>
                </app-autorizado>
                
            </div>
            <!-- <div *ngFor="let pelicula of peliculas; let index = index" class="movieContainer">
                <div>
                    <h2>Pelicula {{index}}: {{pelicula.title}}
                        <button style="margin-left: 1rem;" (click)="remover(index)">Remover</button>
                    </h2>
                </div>
                <div>{{pelicula.launchDate | date:"dd-MMMM-yyyy" | uppercase }}</div>
                <div>{{pelicula.price | currency}}</div>
            </div> -->
        </div>
    </ng-container>
</app-listado-generico>